* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    top: 40px;
    position: absolute;
    width: 100%;
}

input[type="checkbox"] {
    display: none;
}

body {
    background-color: rgb(10, 10, 10);
}

.menu {
    margin-top: 20%;
    height: 20px;
}

nav {
    background-color: rgba(16, 16, 16, 0.5);
    width: 350px;
    height: 100%;
    left: -350px;
    position: absolute;
    transition: all 0.5s;
}

input[type="checkbox"]:checked~nav {
    transform: translateX(350px);
}


a {
    display: block;
    padding: 20px 5px;
    color: white;
}

a:hover {
    background-color: rgb(176, 224, 230);
    color: black;
}

label {
    padding: 15px;
    position: absolute;
    z-index: 1;
}


.h1 {
    text-align: center;
    color: rgb(251, 251, 251);
    text-shadow: 2px 0px 10px cyan;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.footer-text {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.logo {
    float: left;
    height: 100px;
    margin-top: 35px;
}

.caixa {
    background-color:rgb(245, 117, 5);
    padding: 1px;
    color: rgb(10, 10, 10);
    margin-top: 5%;

  }